* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
}

p {
  line-height: 24px;
}

.container {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

/* .header{
    display:grid;
    grid-template-columns: 30% 40% 30%;
    margin:20px 0 13px 0;
    height:37px;
    align-items:center;
}
.header__nav--ul{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.header__nav--li{
    list-style-type: none;
    
}
.header__nav--a{
    text-decoration: none;
    color:#999;
    padding:17.5px 0;
}
.header__nav--a:hover{
    border-bottom: hsl(136, 65%, 51%) solid 3px;
}*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1.50rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--btn {
  width: 8rem;
  height: auto;
  padding: 10px 0;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.header--toggle {
  display: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  color: #9698a6;
  text-decoration: none;
}

header ul li a:hover {
  color: #2bb7da;
}

.header--flex1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header--flex2 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.header--flex3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header--btn {
  padding: 0.75rem 0;
}

.banner {
  background-image: url(images/bg-intro-desktop.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-color: #fafafa;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.banner__intro--btn {
  width: 8rem;
  height: auto;
  padding: 10px 0;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.banner__intro--heading {
  font-size: 2.50rem;
  font-weight: 400;
  color: #2d314d;
  margin: 15px 0;
}

.banner__intro--paragraph {
  color: #9698a6;
  font-size: 16px;
  margin: 15px 0;
}

.banner__intro--btn {
  margin: 15px 0;
}

.banner__hero {
  width: 100%;
  height: 400px;
  background-image: url(images/image-mockups.png);
  background-position: center;
  background-size: cover;
}

.features {
  background-color: #f3f4f6;
  padding: 25px 0 10px;
}

.features__boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-column-gap: 20px;
}

.features__intro--heading {
  margin: 10px 0;
}

.features__intro--para {
  color: #9698a6;
  margin: 20px 0;
}

.features__online {
  margin: 20px 0;
  padding: 10px 0;
}

.features__online--para {
  color: #9698a6;
}

h2 {
  font-size: 2rem;
  color: #2d314d;
  font-weight: normal;
}

h3 {
  font-size: 1.25rem;
  color: #2d314d;
  font-weight: normal;
  margin: 15px 0;
}

.articles {
  background-color: #fafafa;
}

.articles__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  grid-column-gap: 30px;
}

.articles__section--art {
  margin: 10px 0 30px 0;
}

.articles__heading {
  padding: 20px 0;
  position: relative;
}

.articles--author {
  color: #9698a6;
}

.articles--heading {
  color: #2d314d;
  font-size: 1.20rem;
  margin: 10px 0;
}

.articles--para {
  color: #9698a6;
  font-size: 1rem;
}

.articles--img {
  width: 100%;
  height: 12rem;
  margin: 10px 0;
  border-radius: 5px;
}

footer {
  background-color: #2d314d;
  padding: 20px 0;
}

.footer--btn {
  width: 8rem;
  height: auto;
  padding: 10px 0;
  border-radius: 20px;
  background-image: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background-image: linear-gradient(to right, #31d35c, #2bb7da);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.footer--para {
  color: #9698a6;
}

footer ul li {
  list-style-type: none;
  margin: 10px 0;
}

footer ul li a {
  text-decoration: none;
  color: #fafafa;
}

footer ul li a:hover {
  color: #2bb7da;
}

.footer__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

.footer__socialmedia img {
  margin: 30px 10px;
}

div a:hover {
  color: #2bb7da;
}

.footer__socialmedia a:hover {
  color: #2bb7da;
}

@media (max-width: 450px) {
  .container {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  /* header{
        display:block;
    }
    .header__logo{
        width:150px;
        height:auto;
        padding:20px 0;
    }
    .header__nav--ul{
        display:block;

    }
   nav{
       display: none;
   }
   nav.active{
       display:block;
   } */
  /* .header__nav.active{
        display:block;
    } */
  /*  .header__nav--a{
        margin:10px 0;
    } */
  /*  .header__btn{
       display:none;
   } */
  header {
    display: block;
  }
  nav {
    display: none;
  }
  nav.active {
    display: block;
  }
  header ul {
    display: block;
    background-color: #2d314d;
    padding: 15px;
    border-radius: 12px;
    margin: 1rem 0;
  }
  header ul li {
    margin: 1rem 0;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    text-align: center;
  }
  .header--toggle {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    cursor: pointer;
    font-size: 1.50rem;
    text-align: center;
    color: #2d314d;
  }
  .header--toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
  }
  .header--toggle.active::before {
    content: '\f00d';
  }
  .header--btn {
    display: none;
  }
  .banner {
    background-image: url(images/bg-intro-mobile.svg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    margin-top: 30px;
  }
  .banner__intro {
    text-align: center;
    margin: 10px 0 40px 0;
  }
  .item1 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .item2 {
    -ms-grid-row: 1;
    grid-row: 1/1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .features {
    text-align: center;
    padding: 20px 0;
    margin: 320px 0 0 0;
  }
  .features__boxes {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .features__intro--heading {
    margin: 10px 0;
  }
  .articles__heading {
    text-align: center;
  }
  .articles__section {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .articles__section--art {
    margin: 10px 0 30px 0;
  }
  .footer--btn {
    margin: 20px 0;
  }
  footer {
    text-align: center;
  }
  footer ul {
    display: block;
  }
  .footer__section {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}
/*# sourceMappingURL=style.css.map */